input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea, input { outline: none; }

div {
	text-align: center;
}

#header h1 {
    color: #ED786A;
    font-family: 'Arvo';
    font-weight: 700;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
 	letter-spacing: 9px;
 	padding-top: 40px;   
 	text-transform: uppercase;
}

#banner {
	font-family: 'Source Sans Pro';
	text-align: center;
	font-size: 33px;
	line-height: 52px;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
	letter-spacing: 2px;
}

#canvas-container {
	width: 100%;
	text-align: center;
}

#download-container {
    margin-top: 20px;
    display: none;
    width: 100%;
    text-align: center;
}


    /***FIRST STYLE THE BUTTON***/
    .bigbutton {
    -webkit-appearance: none;
    width:340px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 4px 8px; /*apply some padding inside the button*/
    margin-bottom: 20px;
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:2.5em;
    font-family: 'Source Sans Pro', sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    /* -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999; 
    /*give the corners a small curve*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    }
    /***SET THE BUTTON'S HOVER AND FOCUS STATES***/
    input#bigbutton:hover, input#bigbutton:focus {
    color:#dfe7ea;
    }
    /*reduce the size of the shadow to give a pushed effect*/
    /*-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;}*/

   .smallbutton {
    background: #3e9cbf; /*the colour of the button*/
    padding: 4px 7px 5px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:1em;
    font-family: 'Source Sans Pro', sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    /* -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999; 
    /*give the corners a small curve*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; */
    }
    /***SET THE BUTTON'S HOVER AND FOCUS STATES***/
    input#smallbutton:hover, input#smallbutton:focus {
    color:#dfe7ea;
    }
    /*reduce the size of the shadow to give a pushed effect*/
    /*-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;}*/
    

#bfnr {
	font-family: 'Source Sans Pro';
	font-size: 85px;
	line-height: 100px;
	height: 105px;
	width: 150px;
	text-align: center;    
}



.form {
	padding-bottom: 20px

}

#radio-container {
    width: 68%;
    height: 100px;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div#radio-left {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 30%;
    padding-left: 20%;
    float: left;
    height: 100px;
    
}

div#radio-right {
    padding-top: 10px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 30%;
    height: 100px;
}


div#download-container {
    padding-bottom: 20px;
}

div#about {
    margin: 0;
    width: 100%;
    background-color: #555;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}

#footernav {
    padding-left: 0px
}

ul li, ul a {
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:1em;
    font-family: 'Source Sans Pro', sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    text-transform: uppercase;
    list-style: none;
    float: none;
    text-decoration: none;
    color: #fff;
}


ul li a {
    border-top:5px;
    border-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
        color: #fff;
    text-decoration: none;
}

ul li div {
    display: none;
        padding-top: 10px;
        padding-left: 20%;
        padding-right: 20%;
    padding-bottom: 10px;
}

ul li a:hover, ul li a:active {
    text-decoration: none;
    color: #fff;

}

ul a:hover, ul a:active {
    text-decoration: none;
    color: #fff;  
}

div#impressum {
    max-width: 500px;   
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    font-family: 'Source Sans Pro';

}

.box {
 float: left;
 width: 32%;
 margin-right: 2%;
 padding: 0px;
 box-sizing: border-box;
 text-align: center;
 
}

.box:last-child {
     margin-right: 0;
}