div {
	text-align: center;
}

#header h1 {
    color: #ED786A;
    font-family: 'Arvo';
    font-weight: 700;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
 	letter-spacing: 9px;
 	padding-top: 40px;   
 	text-transform: uppercase;
}

#banner {
	font-family: 'Source Sans Pro';
	text-align: center;
	font-size: 33px;
	line-height: 52px;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
	letter-spacing: 2px;
}

#canvas-container {
	width: 100%;
	text-align: center;
}


    /***FIRST STYLE THE BUTTON***/
    input#bigbutton {
    width:280px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:2.5em;
    font-family: 'Source Sans Pro', sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    text-transform: uppercase;
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    }
    /***SET THE BUTTON'S HOVER AND FOCUS STATES***/
    input#bigbutton:hover, input#bigbutton:focus {
    color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    }


#bfnr {
	font-family: 'Arvo';
	font-size: 36px;
	line-height: 50px;
	height: 50px;
	width: 100px;
	text-align: center;
}



div#form {
	padding-bottom: 20px
}

div#radio {
    padding-top: 20px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    text-align: center;
    line-height: 52px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 2px;



}